@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fortawesome/fontawesome-free@@6.7.2/css/fontawesome.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fortawesome/fontawesome-free@@6.7.2/css/brands.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fortawesome/fontawesome-free@@6.7.2/css/solid.min.css" />
    <title>@ViewData["Title"] - Classroom Monitoring System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/taghelper/css/taghelper.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/classroom_monitoring_system.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <!-- Sidebar -->
    @{
        var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
        var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
        var roles = User.FindFirstValue(ClaimTypes.Role);
        var currentUserFullName = User.FindFirstValue(ClaimTypes.Name);
    }
    @if (roles != null)
    {
        <!-- Sidebar Toggle (hamburger button) -->
        <nav class="navbar navbar-dark bg-dark d-md-none">
            <div class="container-fluid">
                <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu">
                    <i class="fa-solid fa-bars fs-1"></i>
                </button>
            </div>
        </nav>

        <!-- Sidebar as Offcanvas for mobile -->
        <div class="offcanvas offcanvas-start bg-dark text-white d-md-none" tabindex="-1" id="sidebarMenu">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title">Menu</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white @(currentController == "Home" && currentAction == "Index" ? "active" : "")"><i class="fa-regular fa-house"></i> Home</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white @(currentController == "Clock" && currentAction == "Index" ? "active" : "")"><i class="fa-regular fa-clock"></i> Clock</a>
                    </li>
                    <li>
                        <a asp-controller="User" asp-action="UserListScreen" class="nav-link text-white @(currentController == "User"? "active" : "")"><i class="fa-solid fa-users-gear"></i> Users</a>
                    </li>
                    <li>
                        <a asp-controller="Login" asp-action="Logout" class="nav-link text-white"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Sidebar fixed for larger screens -->
        <nav class="sidebar d-none d-md-flex flex-column p-3 bg-dark text-white">
            <a href="#" class="d-flex justify-content-center align-items-center text-white text-decoration-none p-3">
                <i class="fa-solid fa-bars fs-1"></i>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link @(currentController == "Home" && currentAction == "Index" ? "active" : "")" style="font-size: 2rem"><i class="fa-regular fa-house"></i></a>
                </li>
                <li>
                    <a href="#" class="nav-link @(currentController == "Clock" && currentAction == "Index" ? "active" : "")" style="font-size: 2rem"><i class="fa-regular fa-clock"></i></a>
                </li>
                <li>
                    <a asp-controller="User" asp-action="UserListScreen" class="nav-link @(currentController == "User" ? "active" : "")" style="font-size: 2rem"><i class="fa-solid fa-users-gear"></i></a>
                </li>
                <li>
                    <a asp-controller="Login" asp-action="Logout" class="nav-link" style="font-size: 2rem"><i class="fa-solid fa-right-from-bracket"></i></a>
                </li>
            </ul>
        </nav>
    }

    <!-- Page Content -->
    <div class="content">
        @if (roles != null)
        {
            <img src="~/images/logo.png" style="width:80px;" />
            <hr />
            <div class="row">
                <div class="col col-1 d-flex justify-content-center align-items-center" style="font-size: 3rem;">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="col col-9">
                    <h3>@currentUserFullName</h3>
                    <h5><i>@roles</i></h5>
                </div>
                <div class="col justify-content-end">
                    @{
                        TimeZoneInfo timeZone = TimeZoneInfo.FindSystemTimeZoneById("Asia/Manila");
                        var date = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, timeZone);
                    }
                    <h5>@date.ToString("MMM d, yyy")</h5>
                    <h5>@date.ToString("dddd")</h5>
                </div>
            </div>
            <hr />
        }
        <div class="container mb-5">
            @RenderBody()
        </div>
        @if (roles != null)
        {
            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2025 - Classroom Monitoring System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
        
            </footer>
        }
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        for (var i = 0; i < 10; i++) {
        }
        setTimeout(function () {
            $("div[style='opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;']").remove();
            $("div[style='margin: 0px; padding: 0px; left: 0px; width: 100%; height: 65px; right: 0px; bottom: 0px; display: block; position: fixed; z-index: 2147483647; opacity: 0.9; background-color: rgb(32, 32, 32);']").remove();
            $("div[onmouseover='S_ssac();']").remove();
            var somee = $("center").length - 1;
            //$("center")[somee].remove();
            var div_length = document.getElementsByTagName("div").length - 1;
            if ($("div")[div_length].style.height == "65px") $("div")[div_length].remove()
        }, 500);
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
      const observer = new MutationObserver(mutations => {
        mutations.forEach(mutation => {
          mutation.addedNodes.forEach(node => {
            if (node.nodeType === 1) { // element
              // Look for Somee banner by style pattern
              if (node.matches("div[style*='z-index: 2147483647'], div[style*='height: 65px;']")) {
                node.remove();
                console.log("Somee banner removed 🚀");
              }
            }
          });
        });
      });

      // Watch the whole body for new nodes
      observer.observe(document.body, { childList: true, subtree: true });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
      const link = document.querySelector("center > a[href*='somee.com']");
      if (link) {
        link.parentElement.remove(); // remove the whole <center> tag
        console.log("Somee footer removed 🚀");
      }
    });
</script>